{% extends 'Enquiry_Database/base.html' %}

{% block content %}

<div class="card">
    <div class="card-header"><strong>
        {{ customer_record.company_name }}</strong>
    </div>
    <div class="card-body">
        <p class="card-text">
            <strong>ID: </strong>{{ customer_record.id }}
        </p>
        <p class="card-text">
            <strong>Created Time: </strong>{{ customer_record.created_at }}
        </p>
        <p class="card-text">
            <strong>Company Name: </strong>{{ customer_record.company_name }}
        </p>
        <p class="card-text">
            <strong>Mobile No.: </strong>{{ customer_record.mobile_no }}
        </p>
        <p class="card-text">
            <strong>Email ID: </strong>{{ customer_record.email }}
        </p>
        <p class="card-text">
            <strong>Phone: </strong>{{ customer_record.phone }}
        </p>
        <p class="card-text">
            <strong>Address: </strong>{{ customer_record.address }}
        </p>
        <p class="card-text">
            <strong>City: </strong>{{ customer_record.city }}
        </p>
        <p class="card-text">
            <strong>State: </strong>{{ customer_record.state }}
        </p>
        <p class="card-text">
            <strong>Zipcode: </strong>{{ customer_record.zipcode }}
        </p>
    </div>
</div>
<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update Record</a>
{% endblock %}